.git
.github
.gitignore
.venv
venv
env
__pycache__
*.py[cod]
*.sqlite3
.env
.pytest_cache
.ruff_cache
htmlcov
.coverage
staticfiles
*.md
Dockerfile
docker-compose.yml
.dockerignore
.pre-commit-config.yaml
